GEMINI_API_KEY=YOUR_API_KEY
GEMINI_MODEL=google_genai:gemini-3.5-flash-lite
EUREKA_HOST=localhost
EUREKA_SERVER=http://localhost:8761/eureka/
APP_NAME=AI-SERVICE
APP_PORT=9012
PRODUCT_MCP_URL=http://localhost:8080/api/product-service/mcp
CART_MCP_URL=http://localhost:8080/api/cart-service/mcp
ORDER_MCP_URL=http://localhost:8080/api/order-service/mcp
AUTH_SERVICE_APP_NAME=AUTH-SERVICE
MONGODB_CONNECTION_URL=YOUR_MONGODB_CONNECTION_URL
