footer {
    background-color: var(--light);
    width: 100%;
    height: max-content;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
footer > div h1 {
    text-align: left;font-weight: 400;font-size: 25px;
}
footer div p {
    text-align: center;
    max-width: 400px;
    display: flex;
    align-items: center;
}
footer > div ul {
    padding: 0;
    margin: 0;
}
footer > div ul li {
    margin: 5px 0;transition: 0.5s;
}
footer > div ul li a {
    color: var(--black);
}
footer > div ul li:hover {
    transform: translateX(10px);
    color: var(--primary);
}
footer > div ul li:hover a{
    color: var(--primary);
}
footer > div p span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 2px solid var(--primary);
    margin-right: 10px;
    border-radius: 50%;transition: 0.5s; cursor: pointer;
}
footer > div div p span  {
    background-color: transparent;border: none;
}
footer > div p i {
    font-size: 20px;
    transition: 0.5s;
    color: var(--primary);
}
footer > div > p span:hover {
    background-color: var(--primary);
    color: var(--body);
}
footer > div > p span:hover i {
    color: white;
}
footer button {
    width: 180px;
}
footer input {
    padding: 10px;
    background-color: var(--primary);
    color: var(--body);
    border: none;
    border-radius: 3px;
    width: 300px;
}

@media all and (max-width:1100px) {
    footer {
        padding: 30px 15px;
        flex-direction: column;gap: 20px;
    }
    footer > div {
        width: 100%;
    }
}